.block {
  height: 50px;
  width: 50px;
  border: 1px solid;
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.grey-bg {
  background:#e6e6e6;
}
